body{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #000;
	padding: 0px;
	margin: 0px;
	overflow-y: scroll;
	background-color: #fff;
	
}

#container{
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
    text-align: center;
}

#container nav{
	height: 30%;
	width: 100%;
	overflow: hidden;
	background-color: rgb(0,0,128,0.6);
}

nav .links{
    width: 600px;
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 5%;
}

nav .log-reg-btns{
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 5%;
}

.links ul li, .log-reg-btns ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
}

.links a, .log-reg-btns a{
	text-decoration: none;
	color: #000;
	padding: 10px 15px;
	border-radius: 100px;
}

.links a:hover, .log-reg-btns a:hover{
	color: #fff;
}

.account{
    display: inline-block;
	max-width: 800px;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    border: 3px solid #000;
}

.add{
    border: 3px dashed #000;
    padding: 20px 35px;
}

a.call-to-action{
	text-decoration: none;
	padding: 10px 15px;
	border: 3px solid #000;
	border-radius: 100px;
	color: #000;
}

a.call-to-action:hover{
	background-color: #000;
	color:   rgb(0,0,128,0.6);
}

#container footer{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #000;
}

footer .links ul li{
	color: #fff;
	font-size: 16px;
	margin: 0px;
}

footer .links ul li a{
	color: #fff;
}

footer .links ul li a:hover{
	color: rgb(0,0,128,0.6);
}

.log-reg-btns form{
	margin-top: 8px;
}

form input{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	background-color: #ddd;
}

form input[type = "submit"]{
	background-color: rgb(0,0,128,0.6);
	color: #000;
	border: none;
	border-radius: 100px;
	padding: 10px 15px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

form input[type = "submit"]:hover{
	color: #fff;
}

section{
	padding: 30px;
	margin: 20px 0px;
}

#container .modal{
	width: 700px;
	margin: 0px auto;
}

.modal form input{
	height: 25px;
	width: 400px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

.modal form input[type="submit"]{
 	border: none;
 	height: 60px;
 	width: 420px;
}

.fail{
	color: #e74c3c;
}

.success{
	color: #2ecc71;
}