body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #fff;
}

#container{
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	text-align: center;
}

#container nav{
	min-height: 75px;
	padding-bottom: 10px;
	overflow: hidden;
	background-color: #27ae60;
	z-index: 700;
}

.navbar-custom{
	padding-bottom: 10px;
	/* overflow: hidden; */
	background-color: #27ae60;
} 

nav .navbar-nav li a{
  color: white !important;
}
.navbar-header{
padding-right: 0.5%;
}

.navbar-collapse.collapse.in {
	display: block!important;
	color:white;
}
.navbar-collapse *[class*='navbar-'] {
	float: left!important;
	margin: 7.5px -15px;
	color:white;
}
 .navbar-nav > li {
	color:white;
} 
 .navbar-nav > li > a {
	color:white;
} 
  
nav .links{
    width: auto;
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 5%;
}

nav .log-reg-btns{
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 5%;
}

.links ul li, .log-reg-btns ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
}

.links a, .log-reg-btns a{
	text-decoration: none;
	color: #000;
	padding: 10px 15px;
	border-radius: 100px;
}

.links a:hover, .log-reg-btns a:hover{
	color: #fff;
}

.landing{
	position: absolute;
	width: 100%;
	height: 150px;
	padding: 20px;
	background-color: rgba(0,0,0,.6);
	margin: 200px auto;
	color: #fff;
	z-index: 300;
}

.landing-bg{
	overflow: hidden;
	position: absolute;
	height: 90%;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	background-image: url('/images/student.jpg');
	background-size: cover;
}


.account, .budget{
    display: inline-block;
	min-width: 250px;
	height: 280px;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    border: 3px solid #000;
}

.add{
    border: 3px dashed #000;
}

a.call-to-action{
	text-decoration: none;
	padding: 10px 15px;
	border: 3px solid #000;
	border-radius: 100px;
	color: #000;
}

a.call-to-action:hover{
	background-color: #000;
	color:   #27ae60;
}

a.reverse{
	border: 3px solid #fff;
	color: #fff;
}

a.reverse:hover{
	background-color: #fff;
	color:   #27ae60;
}

#container footer{
	position: absolute;
	bottom: -45px;
	margin-top: 0px;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #000;
	z-index: 500;
}

footer .links ul li{
	color: #fff;
	font-size: 16px;
	margin: 0px;
}

footer .links ul li a{
	color: #fff;
}

footer .links ul li a:hover{
	color: #27ae60;
}

.log-reg-btns form{
	margin-top: 8px;
}

form input, form select{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	background-color: #ddd;
	text-align: center;
}

form input[type = "submit"]{
	background-color: #27ae60;
	color: #000;
	border: none;
	border-radius: 100px;
	padding: 10px 15px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

form input[type = "submit"]:hover{
	color: #fff;
}

section{
	padding: 30px;
	margin: 20px 0px;
}

#container .form_container{
	width: 700px;
	margin: 0px auto;
}

.form_container form input{
	height: 20px;
	width: 420px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

.form_container form select{
	height: 20px;
	width: 420px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-left: 60px;
	margin-right: 10px;
}

.form_container form input[type = "file"]{
	height: 20px;
	width: 420px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-left: 140px;
	margin-right: 10px;
}

.form_container form input[type="submit"]{
 	border: none;
 	height: 60px;
 	width: 420px;
}

.form_container form input[type = "checkbox"]{
	width: 30px;
	height: 20px;
}

.form_container form input[type = "radio"]{
	width: 30px;
	height: 20px;
}

.fail{
	color: #e74c3c;
}

.success{
	color: #2ecc71;
}

textarea{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	background-color: #ddd;
	padding: 10px;
	border: none;
	border-radius: 8px;
	outline: none;
}

.message{
	width: 400px;
	margin: 10px auto;
}

.error{
	color: #e74c3c;
}

.success{
	color: #27ae60;
}

article form{
	text-align: right;
	margin-bottom: -20px;
	padding: 0px;
}

article form input[type = "submit"]{
	background-color: #fff;
	color: #000;
	border: none;
	border-radius: 100px;
	padding: 10px 15px;
	border: 3px solid #000;
	font-weight: bold;
}

article form input[type = "submit"]:hover{
	background-color: #000;
	color:   #27ae60;
}

.tab {
	overflow: hidden;
	background-color: #fff;
}
  
.tab button {
	background-color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #27ae60;
	color: #fff;
}

.tabcontent {
	display: none;
}


@media only screen and (max-width: 600px) {
	body{
		font-family: 'Lato', sans-serif;
		font-size: 180%;
		color: #000;
		padding: 0px;
		margin: 0px;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: #fff;
	}

	h3{
		font-family: 'Pacifico', cursive;
		color: white !important;
	}

	#container nav{
		/* height: 30%; */
		padding-bottom: 10px;
		/* width: 100%; */
		overflow: hidden;
		background-color: #27ae60;
		z-index: 700;
	}
	
	.navbar-custom{
		/* height: 30%; */
		padding-bottom: 1%;
		/* width: 100%; */
		overflow: hidden;
		background-color: #27ae60;
		/* z-index: 700; */
		} 
		nav .navbar-nav li a{
	  color: white !important;
	  }
	
	.navbar-collapse.collapse.in {
		display: block!important;
		color:white;
	}
	.navbar-collapse *[class*='navbar-'] {
		float: none!important;
		margin: 7.5px -15px;
		color:white;
	}
	 .navbar-nav > li {
		color:white;
	} 
	 .navbar-nav > li > a {
		color:white;
	}
	  
	nav .links{
		width: auto;
		display: block;
		float: left;
		margin-top: 20px;
		margin-left: 5%;
	}
	
	nav .log-reg-btns{
		display: block;
		float: right;
		margin-top: 20px;
		margin-right: 5%;
	}
	
	.links ul li, .log-reg-btns ul li{
		list-style: none;
		display: inline-block;
		margin: 0px 10px;
	}
	
	.links a, .log-reg-btns a{
		text-decoration: none;
		color: #000;
		padding: 10px 15px;
		border-radius: 100px;
	}
	
	.links a:hover, .log-reg-btns a:hover{
		color: #fff;
	}

	#container .form_container{
		width: 300px;
		margin: 0px auto;
	}
	
	.form_container form input{
		height: 25px;
		width: 200px;
		padding: 10px;
		border-radius: 5px;
		border: none;
		outline: none;
	}
	
	.form_container form select{
		height: 45px;
		width: 220px;
		padding: 10px;
		border-radius: 5px;
		border: none;
		outline: none;
		margin-left: 60px;
		margin-right: 10px;
	}
	
	.form_container form input[type="submit"]{
		 border: none;
		 height: 60px;
		 width: 220px;
	}
	
	.form_container form input[type = "checkbox"]{
		width: 30px;
		height: 20px;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 0%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "id"; }
	td:nth-of-type(2):before { content: "First name"; }
	td:nth-of-type(3):before { content: "Last name"; }
	td:nth-of-type(4):before { content: "Username"; }
	td:nth-of-type(5):before { content: "email"; }
	/* td:nth-of-type(6):before { content: "Password"; } */
	td:nth-of-type(6):before { content: "created at"; }
	td:nth-of-type(7):before { content: "updated at"; }
	span{
		color:rgb(202, 176, 176);
	}

  }